/*!
 * app: wwwaax
 * feature: header
 * header.css
 */

.navbar > .container .navbar-nav > li > .dropdown-menu {
    left: auto;
    right: 4px;
}

.navbar > .container .navbar-header {
    height: 64px !important;
    overflow: visible;
    background: auto;
}

.navbar > .container .navbar-collapse {
    height: 64px !important;
    background: auto;
}

.close-handle {
    text-align: center;
}

@media (max-width: 992px) {
    .close-handle {
        padding-left: 40px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .close-handle {
        padding-left: 0 !important;
        text-align: center;
    }
}

.close-handle {
    position: relative !important;
}

.nav > li > a > img {
    padding-top: 7px;
}

