<div ng-controller="HeaderController as vm">
    <!-- start: HEADER -->
    <header class="navbar">

        <div class="navbar navbar-default" role="navigation">
            <!-- start: TOP NAVIGATION CONTAINER -->
            <div class="container">
                <div class="navbar-header">
                    <!-- start: RESPONSIVE MENU TOGGLER -->
                    <a class="pull-left menu-toggler hidden-md hidden-lg mobile-button" ng-click="vm.toggleMobileMenu()"> <span class="sr-only">Toggle navigation</span> <i class="ti-align-justify"></i> </a>
                    <!-- end: RESPONSIVE MENU TOGGLER -->
                    <!-- start: LOGO -->
                    <a ui-sref="app.landing" class="navbar-brand"> <img src="images/header/logo.png" alt="aaX"> </a>
                    <!-- end: LOGO -->
                </div>
                <!-- start: NAVBAR -->
                <div class="navbar-collapse collapse" ng-class="{'in' : vm.showMenu}">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="landing" ui-sref-active="active">
                            <a ui-sref="app.landing" ng-click="vm.toggleMobileMenu()"> <i class="ti-home"></i> <span>HOME</span> </a>
                        </li>
                        <li id="menu1" ui-sref-active="active">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <i class="ti-briefcase"></i> <span>Menu 1</span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 1 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 2 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 3 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 4 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 5 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 6 </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu2" ui-sref-active="active" >
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <i class="ti-package"></i> <span>Menu 2</span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 1 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 2 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 3 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 4 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 5 </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu3" ui-sref-active="active">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <i class="ti-direction-alt"></i> <span>Menu 3</span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 1 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 2 </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu4" ui-sref-active="active">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <i class="ti-id-badge"></i> <span>Menu 4</span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 1 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 2 </a>
                                </li>
                                <li>
                                    <a ui-sref="app.404" ng-click="vm.toggleMobileMenu()"> subMenu 3 </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu5" ui-sref-active="active">
                            <a ui-sref="app.contact" ng-click="vm.toggleMobileMenu()"> <i class="ti-email"></i> <span>Menu 5</span> </a>
                        </li>
                        <!-- start: USER OPTIONS DROPDOWN -->
                        <li id="user" class="current-user">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img src="images/header/user.png" > <span class="username"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="app.404">
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="app404">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: USER OPTIONS DROPDOWN -->
                    </ul>
                    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
                    <div class="close-handle visible-sm-block visible-xs-block" ng-click="vm.toggleMobileMenu()">
                        <a><i class="ti-angle-double-up"></i></a>
                    </div>
                    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
                </div>
                <!-- end: NAVBAR -->
            </div>
            <!-- end: TOP NAVIGATION CONTAINER -->
        </div>
    </header>
    <!-- end: HEADER -->

</div>
