<div class="Page-Container Footer" ng-controller="FooterController as vm">
    <div class="app-content">
        <footer id="footer">
            <!--<div class="container">-->
            <!--<div class="row">-->
            <!--<div class="col-md-3 padding-bottom-25">-->
            <!--</div>-->
            <!--<div class="col-md-3 padding-bottom-25">-->
            <!--</div>-->
            <!--<div class="col-md-3 padding-bottom-25">-->
            <!--</div>-->
            <!--<div class="col-md-3 padding-bottom-25">-->
            <!--<h4 class="margin-bottom-25">Follow Us</h4>-->
            <!--<div class="social-icons">-->
            <!--<ul>-->
            <!--<li class="social-twitter tooltips" data-original-title="Twitter" data-placement="bottom">-->
            <!--<a target="_blank" href="#"> Twitter </a>-->
            <!--</li>-->
            <!--<li class="social-facebook tooltips" data-original-title="Facebook" data-placement="bottom">-->
            <!--<a target="_blank" href="#" data-original-title="Facebook"> Facebook </a>-->
            <!--</li>-->
            <!--<li class="social-google tooltips" data-original-title="LinkedIn" data-placement="bottom">-->
            <!--<a target="_blank" href="#" data-original-title="LinkedIn"> Google + </a>-->
            <!--</li>-->
            <!--<li class="social-linkedin tooltips" data-original-title="LinkedIn" data-placement="bottom">-->
            <!--<a target="_blank" href="#" data-original-title="LinkedIn"> LinkedIn </a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <p>
                                &copy; Copyright <span class="current-year"></span> by allaboutXpert. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</div>
