<h1>{{ vm.message | capitalize }}</h1>

<a href="{{vm.onTimeUrl}}" class="btn btn-blue" ng-if="!vm.onTimeToken"> Link OnTime </a>

<table class="table table-striped table-bordered .table-condensed table-responsive" ng-if="vm.onTimeToken">
    <tr ng-repeat="item in vm.work">
        <td>{{ item.id }}</td>
        <td>{{ item.description | htmlToPlainText }}</td>
    </tr>
</table>
